.DS_Store
.idea
apply-gitignore = !git ls-files -ci --exclude-standard -z | xargs -0 git rm --cached
dbg
*.pyc
__pycache__
concomps/
*.tif
seg_src/frames_cyt.txt
seg_src/cell_frames.txt
seg_src/trans.txt
